# Analysis of University of Waterloo Salaries
#### Publicaly Disclosed 2021 Figures (only salaries above $100,000)
### By: Nick Tiliakos

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle
import seaborn as sns
import plotly.express as px
from scipy.stats import iqr

In [ ]:
data = pd.read_csv('/Users/NickT/Documents/Data Science/Datasets/UW_Sal_Dis_2021 - Sheet1.csv')
df = pd.DataFrame(data)

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.dtypes

In [ ]:
print(df.shape)

## Basic data cleaning

Since this dataset is an official salary disclosure and the source was the University of Waterloo directly, the data is already fairly clean (ie. no missing data, etc.). Thus, the cleaning that needs to be done will consist of renaming columns and changing data types.

### Changing some column names

In [ ]:
for col in df.columns:
    print(col)

In [ ]:
df = df.rename(columns = {'Given name': 'First Name'})
df = df.rename(columns = {'Salary paid': 'Salary'})

### Changing data type of 'Salary' column

In [ ]:
# Delete commas from salary column
df['Salary'] = df['Salary'].apply(lambda x: x.replace(',', ''))

In [ ]:
# Convert Salary column from string to numeric values 
df['Salary'] = df['Salary'].apply(pd.to_numeric)

In [ ]:
df.dtypes

## Exploration of the data

For comparison's sake, here are the average earning figures of  Canadians, before taxes:

The average salary of a Canadian federal employee is $79,206. (1)

The average salary of a Canadian worker is $55,522. (2)

Sources: (1) payscale.com, (2) glassdoor.ca

### Salary Information

In [ ]:
# Maximum salary

max_sal = df.loc[df['Salary'].idxmax()]
print(max_sal)

The highest salary was $475,761.11 and it was paid to the (then) President, Hamdullahpur Feridun.

This is roughly 601% higher than the national average for a federal employee, and 857% higher than the average Canadian worker.

In [ ]:
# Minumum salary

min_sal = df.loc[df['Salary'].idxmin()]
print(min_sal)

The lowest salary was $100,000.08 and it was paid to the Senior Manager of Scientific Outreach, John M. Donohue.

This is roughly 126% higher than the national average for a federal employee, and 180% higher than the aberage Canadian worker.

In [ ]:
# Average & median salary

avg_sal = round(df.Salary.mean(), 2)
med_sal = round(df.Salary.median(), 2)
print("Average salary: ", avg_sal)
print("Median salary: ", med_sal)

The average salary of University of Waterloo employees is $158,976.28.

This is roughly 201% higher than federal employees and 286% higher than the average Canadian worker.

In [ ]:
# Salary range
mxm = df.Salary.max()
minm = df.Salary.min()

sal_range = round(mxm - minm, 2)

print("The salaries have a range of $", sal_range)

#### Interquartile Range

The IQR measures the spread of the middle half of your data. It is the difference between the 75th and 25th percentiles of the salaries.

In [ ]:
iqr_sal = iqr(df['Salary'])
print('The interquartile range is: ', iqr_sal)

#### Positions

In [ ]:
print("There are", df['Position title'].nunique(), 
      "different positions at the University of Waterloo. \
        It is important to note that many of these positions may overlap.")

In [ ]:
# New dataframe consisting of only teaching staff with the titles 
# Lecturer, Professor, Associate Professor, Researcher, Instructor or similar.
df_profs = df[df['Position title'].str.contains('Lecturer|Professor|Research|Instructor')]
df_profs.shape

Of the 1856 staff that make $100,000 or above, 1356 are primarily teaching staff, with titles including Researcher, Lecturer, Professor, Associate Professor, Instructor or similar.

In [ ]:
# Non-teaching staff dataframe
df_nt = pd.concat([df, df_profs, df_profs]).drop_duplicates(keep=False)
df_nt.head()

### Visualization of data

In [ ]:
sns.heatmap(df.corr(), annot=True)

#### Histogram to Show Distribution

In [ ]:
px.histogram(df.Salary, x='Salary',
             color_discrete_sequence=['darkgreen'],
             title = 'Overall Salary Distribution', nbins=120)

As we can see from the plot above, the majority of salaries fall in the `$100,000 to $227,500` range.

#### Teaching vs Non-Teaching Staff Salaries

In [ ]:
plt.hist(df_profs['Salary'], alpha=0.7,
         label='Teaching Staff Salaries', color='crimson', bins=40)
plt.hist(df_nt['Salary'], alpha=0.6,
         label='Non-Teaching Staff Salaries', color='cadetblue', bins=40)

plt.legend(loc='upper right')
plt.title('Teaching vs Non-Teaching Staff Salaries')

In [ ]:
prof_avg = round(df_profs.Salary.mean(), 2)
prof_std = round(df_profs['Salary'].std(), 2)
iqr_profs = iqr(df_profs['Salary'])
nt_avg = round(df_nt.Salary.mean(), 2)
nt_std = round(df_nt['Salary'].std(), 2)
iqr_nt = round(iqr(df_nt['Salary']), 2)

print("Teaching Staff Average Salary: ", avg_sal)
print("Teaching Staff Standard Deviation:", prof_std)
print('Teaching Staff Interquartile Range: ', iqr_sal2)
print()
print("Non-Teaching Staff Average Salary: ", nt_avg)
print("Non-Teaching Staff Standard Deviation:", nt_std)
print('Non-Teaching Staff Interquartile Range: ', iqr_sal1)

The standard deviation of the teaching and non-teaching staff is somewhat similar. 
However, the interquartile range is very different. This means that salaries for teaching staff is far more spread out than those for non-teaching staff, and as we can see from the $30,000+ difference in the average salary, that spreading out is mostly in the higher numbers.